API suggestion for failed decryption

As per meeting 2022-03-09, we've agreed on giving an API suggestion on how to handle authentication tag mismatch.

Forgetting to handle it should lead to a *syntax error*, so merely suggesting exceptions where possible (also irrelevant in C) would fail. We could copy Google's approach and have a callback function that is a mandatory parameter (which I vaguely recall seeing in C#/.NET in some APIs, but I cannot seem to find it now, perhaps it was't actually a mandatory call back and would just default to false at runtime). In that sense, I do not even see an alternative to a callback function to cover most languages, but perhaps someone else's seen other options?

Using callbacks is a smart way to force the check to be made in C/C++.

But callbacks don't translate well to pseudo-code and don't match existing for other AEADs. They can also introduce memory leaks, race conditions, or force users to fight the borrow checker in Rust. They also add a lot of complexity when the caller and the callee are in different contexts (secure enclaves, WebAssembly, etc.)

Modern languages also make error handling mandatory. Examples include the Rust `Result<>` return type, or Zig errors that cannot be ignored without causing a compile error. Using callbacks here would not make sense and would add more issues that they would fix.

Making recommendations for APIs is absolutely a great thing,. But we should remain focused on the AEGIS algorithm itself, and maybe not use this document as an opportunity to standardize the public interface of AEADs. If only because it is very unlikely that this will be implemented that way in practice; people will rather use whatever's idiomatic for a given language. I also don't see AEGIS being used in a standalone way, but rather be added to existing libraries. So it will have to match the APIs of existing AEADs.

> Making recommendations for APIs is absolutely a great thing,. But we should remain focused on the AEGIS algorithm itself, and maybe not use this document as an opportunity to standardize the public interface of AEADs.

Ignoring that RFC 5116 § 2.2 already largely dictates the interface, this is not up for debate anymore. It was decided yesterday that we *must* provide this, see p. 4 of the meeting notes near the end.

Sure, I'm just against introducing the notion of callbacks, or anything too language-specific.

Is this worth closing to tidy the issues section up? I think the draft sounds fine as is for this.

The draft looks good as is for implementers. I don't think it's worth suggesting a more complex interface. People can do whatever's best for their language and the existing APIs they want to be consistent with.